<?php
/** @var $block Optiweb\BannerSlider\Block\Widget\BannerSlider */

$slides = $block->getSlides();

if(count($slides) > 0) : ?>
    <div id="banner_slider" class="banner-slider">
    <?php foreach($block->getSlides() as $slide) : ?>
        <div class="slide">
            <a href="<?= $slide["url"]; ?>" class="slide-link"></a>
            <img src="<?php echo $slide["img"]; ?>" class="slide-img" alt="<?php echo strip_tags($slide["content"]); ?>" />
            <div class="content">
                <?php echo $slide["content"]; ?>
            </div>
        </div>
    <?php endforeach ?>
    </div>';
<?php endif ?>
<script type="text/javascript">
    require([
         'slickSlider',
         'bannerSlider'
    ])
</script>
